html, body {
  overflow-x: hidden !important; }

.clear {
  clear: both; }

body {
  font-family: 'Open Sans'; }
  body h1, body h2, body h3, body h4 {
    text-transform: uppercase; }
  body h1.really-big {
    font-size: 10em;
    font-weight: 800;
    letter-spacing: -0.05em;
    margin-bottom: 0; }
  body h2.fig-subtitle {
    margin-top: 0; }
  body h2 {
    font-size: 4em;
    font-weight: 800; }
  body h3 {
    font-size: 1.5em; }
  body h4 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600; }
  body p {
    font-size: 1.3em;
    padding: .3em;
    line-height: 1.5;
    color: white; }
    body p.sub-heading {
      font-size: 1em;
      margin: 0;
      padding: 0; }
  body .blue {
    color: #036CB6; }
  body .blue-bg {
    background-color: #036CB6;
    padding: 10px; }
  body .red-bg {
    background-color: #e40d0d; }
  body .red {
    color: #e40d0d; }
  body .light-red {
    color: #f6c2c9;
    font-weight: 600; }
  body .black {
    color: black; }
  body .white {
    color: white; }

#slide-1-title {
  background-color: lightgray;
  background-image: url(../mob/1-bg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom right; }

.row {
  background-size: 100% auto; }
  .row.bg1-content {
    background-image: url(../mob/2-bg.png); }
  .row.bg2-content-inverted {
    background-image: url(../mob/3-bg-invert.png); }
  .row#crises-more-expensive {
    background-image: url(../mob/5-bg.png); }
  .row.partnerships-bg {
    background-image: url(../mob/6-bg.png); }
  .row#cta-background {
    background-image: url(../mob/cta-bg.png); }
  .row#cta-report {
    background-image: url(../mob/cta-report-bg.png); }
  .row#cta-highlights {
    background-image: url(../mob/cta-highlights-bg.png); }
  .row#cta-global {
    background: url(../mob/cta-global-bg.png); }
  .row#cta-graphics {
    background: url(../mob/cta-graphics-bg.png); }
  .row#cta-hdx {
    background: url(../mob/cta-hdx-bg.png); }
  .row.bg2-content {
    background-image: url(../mob/3-bg.png);
    background-size: auto 100%; }
    .row.bg2-content .row.affected-natl img {
      width: 90%; }
  .row.red-title {
    background-color: #e40d0d;
    border: solid black;
    border-width: 0 0 10px;
    color: white; }
    .row.red-title h1, .row.red-title h2, .row.red-title h3, .row.red-title h4, .row.red-title h5 {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      font-weight: 600; }
      .row.red-title h1 .highlight, .row.red-title h2 .highlight, .row.red-title h3 .highlight, .row.red-title h4 .highlight, .row.red-title h5 .highlight {
        color: black; }
  .row .people-area img {
    width: 4%; }

.circle {
  border-radius: 100px;
  background-color: #b6b9b9;
  display: inline-block;
  padding: 10px;
  border: 5px solid white; }

.row.table-like-form {
  display: table; }
  .row.table-like-form [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: bottom; }

.cta-link {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  vertical-align: middle;
  display: inline-block; }

.cta-height-invi {
  height: 100px;
  display: inline-block;
  vertical-align: middle; }

#final-word {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 0.8em; }

#military-list li {
  margin-bottom: 10px; }
