body {
  font-family: 'Open Sans';
  overflow-x: hidden;

  nav {

    .nav-list
    {
      padding: 5px;
      li
      {
        list-style-type: none;

        margin-top: 0;
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
      }
    }

    margin: 0;
    width: 50px;
    height: 100%;

    background-color: #333333;
    color: white;
  }
}

.color-white { color: #FFFFFF; }
.color-red { color: #E40D0D; }
.dark-color { color: black; }
.color-blue { color: #036CB6; }

.slide-item {
  position: relative;
}

.circle-item {
  width: 150px;
  height: 150px;
  border-radius: 150px;

  background-size: cover;
}

#title-area {
  .main-area {
    background-color: lightgray;
  }

    .grow-from-bottom
    {
      bottom: 0;
      right: 0;
      width: inherit;
      height: inherit;
      background-position: 100% 100%;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }

  #actual-title
  {
    h1 {
      font-size: 54px;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 30px;
      margin-bottom: 0;

    }
  }

}

#s2emergency-area
{
  background-attachment: fixed;
  background-image: url(../img/003-bg.png);
  background-size: 50% 100%;

  #country-affected {
    .gray-circle-bg {
      width: 200px;
      height: 200px;
      background-image:url(../img/gray-200.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .country-name {
        padding-top:35px;
        font-weight: 800;
        font-size: 18px;
      }
    }
  }
  .big-number {
    font-size: 11em;
    font-weight: 800;
    line-height: 69%;
  }

  .big-number-ext
  {
    font-size: 5em;
    font-weight: 800;
    line-height: 69%;

    margin-bottom: 12px;
  }
  .big-number-detail
  {
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: -0.007em;
    line-height: 0.9em;
  }

}
#s2 {
  background-color: whitesmoke;
  .main-area, #title-slides-area, .row { width: inherit; height: inherit;}
  .main-area { height: 100%; }
  #title-slides-area {
    position: relative;
    background-image: url(../img/004-bg.png);
    background-size: 100% 100%;

  }
  #title-slides-area > .row { position: absolute; bottom: 0; }
  #title-slides-area > .row > div { height: 100%; position: relative; }
  #title-slides-area #stats-area { opacity: 0; }
  .clstxt { position: absolute; bottom: 0; }
  .clstxt2 { position: absolute; bottom: 0; height:85% }
  .clssubtxt1 { padding-bottom:100%;width:50%;height:60% }
  .clssubtxt2 { position: absolute; ;width:70%; bottom: 0; }
  .firstgrph { height: 0%; background-color: #1447C8; position: absolute; bottom: 0; width: 75%;padding-left:22px;color:#FFF }
  .secondgrph {height: 0%; background-color: #58AEE5; position: absolute; bottom: 0; width: 75%;padding-left:10px;color:#FFF}
}

#s2a, #s1, #humanitarian-crises-cover {
  background-image: url(../img/001-bg.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}

#s2a, #s2b, #s2, #s2c, #s3, #s5, #s6, #title-area, #s4, #s7 {

  .free-flowing {
    position: absolute;
    .width-40p {
      width: 40%;
    }
  }

  .main-area {
    width: inherit;
    height: inherit  ;
  }

  .partnership-header
  {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    line-height: 1.1em;
  }

  .highlight-gray {
    background-color: #e40d0d;
    color: white;
    padding: 0.5% 3%;
    font-weight: 700;
    font-size: 36px;
    border: 5px solid #000;
    border-width: 0 0 10px 0;

    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .highlight-blue {
    background-color: #036CB6;
    padding: 10px;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 1em;
  }

  .highlight-subheading
  {
    font-weight: normal;
    top: 80px; width: 50%; color: white; font-size: 26px;
    left: 0;
  }

  &.span-width
  {
    width: 100%;
  }
}

#s2a .highlight-subheading {
  width: 100%;
}

#s2c {
  span.people-affected-img { opacity: 0; }

  #people-war-asylum, #people-war-idp, #people-war-refugee
  {
    span { opacity: 0; }
  }
}
#s2b {

  .chclsbody {background-color:#036cb6; font:Verdana, Geneva, sans-serif}
  .chcontainer { padding-left:10%;padding-right:10%;}
  .chmaincotainer {display:inline-block;width:100%;padding-top:10px}
  .chheaddiv { padding-left:10%;padding-right:10%;}
  .chclsheadb { font-size:40px; font-weight:900; color:#DB423E;}
  .chclsheadw { font-size:40px; font-weight:900; color:#FFF;}
  .chclssubhead  { font-size:18px; font-weight:700; color:#FFF;}
  .chdivhead { font-size:40px; font-weight:900; color:#90A9AB;text-align:center;padding-top:10px}
  hr {size:5; height:60px;width:6px;color:#90A9AB;background-color:#90A9AB}
  .cstats-area .ndstats-area { opacity: 0; }
  .chclslasthead { font-size:40px; font-weight:700; color:#DB423E;}

  .disaster-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    text-align: center;

    img { display: block; }
  }
  .natural-disaster-shares {
    width: 100%;
    .highlight-gray { width: 100%; text-align: center;}
  }
  .natural-disaster-shares .disaster-item span
  {
    display: inline-block;
  }
}

#s5
{
  a { text-decoration: none; }
  .clr { clear: both; padding: 0; height: 0; margin: 0; }
  .ch-item { width: 100%; height: 100%; border-radius: 50%; position: relative; cursor: default; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform: scale(.6); -moz-transform: scale(.6); -o-transform: scale(.6); -ms-transform: scale(.6); transform: scale(.6); }
  .ch-item:hover { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
  .ch-info-wrap { position: absolute; width: 180px; height: 180px; border-radius: 50%; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; -ms-perspective: 800px; perspective: 800px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; top: 20px; left: 20px; background: #1e4784; }
  .ch-info { position: absolute; width: 180px; height: 180px; border-radius: 50%; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }
  .ch-info > div { background-color:#b6b9b9; font-size:16px;  display: block; position: absolute; width: 100%; height: 100%; border-radius: 50%; background-position: center center; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
  .ch-info .ch-info-back { -webkit-transform: rotate3d(0, 1, 0, 180deg); -moz-transform: rotate3d(0, 1, 0, 180deg); -o-transform: rotate3d(0, 1, 0, 180deg); -ms-transform: rotate3d(0, 1, 0, 180deg); transform: rotate3d(0, 1, 0, 180deg); background: #005aa1; }
  .ch-img-1 { background: #fff url(../img/trend-1.png); }
  .ch-img-2 { background: #fff url(../img/trend-2.png); }
  .ch-img-3 { background: #fff url(../img/trend-3.png); }
  .ch-img-4 { background: #fff url(../img/trend-4.png); }
  .ch-img-5 { background: #fff url(../img/trend-5.png); }
  .ch-img-6 { background: #fff url(../img/trend-6.png); }
  .ch-img-7 { background: #fff url(../img/trend-7.png); }
  .ch-img-8 { background: #fff url(../img/trend-8.png); }
  .ch-info h3 { color: #fff; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; margin: 0 12px;/*0 15px;*/ padding: 30px 0 0 0; /*40px 0 0 0*/ height: 30px;/*90*/ font-family: 'Open Sans', Arial, sans-serif; word-wrap:break-word;  margin-bottom: 20px; }

  .ch-info p { color: #fff; padding: 10px 10px; margin: 4px; /*0 30px*/ font-size: 14px; /*12px*/  }
  .circle-in-es .ch-info p, .circle-in-ru .ch-info p { font-size: 12px; }
  .circle-in-ru .ch-info h3 { font-size: 12px; }
  .ch-info-back p { font-weight:700; font-size:13px; }
  .ch-info p a { display: block; color: #fff; color: rgba(255,255,255,0.8); font-style: normal; font-weight: 700; text-transform: uppercase; font-size: 12px; /*9px*/ letter-spacing: 1px; padding-top: 4px; font-family: 'Open Sans', sans-serif; }
  .ch-info p a:hover { color: #fff222; color: rgb(252,186,181); text-decoration: none; }
  .ch-item:hover .ch-info { -webkit-transform: rotate3d(0, 1, 0, -180deg); -moz-transform: rotate3d(0, 1, 0, -180deg); -o-transform: rotate3d(0, 1, 0, -180deg); -ms-transform: rotate3d(0, 1, 0, -180deg); transform: rotate3d(0, 1, 0, -180deg); }

  #floater { position: relative;}
  #floater  ul { padding:120px 0 0; }
  .circle-container { font-weight: 300; font-size: 15px; -webkit-font-smoothing: antialiased; width: 36em; /*24em*/ height: 36em; /*24em*/ padding: 9.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/ text-align: center; /*new*/ list-style: none; /*new*/ }
  .circle-container li { display: block; overflow: hidden; position: absolute; top: 50%; left: 50%; width: 14.75em; height: 220px; margin: -110px;/* width: 14em; /*4em*/
     /* height: 14em;/*4em*/
    /*  margin: -7em; /* 2em = 4em/2 */ /* half the width */
  }
  /*.circle-container img { display: block; width: 100%; }*/

  .deg22-5 {
  -webkit-transform: rotate(-50.5deg) translate(13.5em) rotate(50.5deg);
  -moz-transform: rotate(-50.5deg) translate(13.5em) rotate(50.5deg);
  -ms-transform: rotate(-50.5deg) translate(13.5em) rotate(50.5deg);
  -o-transform: rotate(-50.5deg) translate(13.5em) rotate(50.5deg);
  transform: rotate(-50.5deg) translate(13.5em) rotate(50.5deg); }

  .deg67-5 { -webkit-transform: rotate(4.5deg) translate(8.5em) rotate(-6.5deg);
   -moz-transform: rotate(4.5deg) translate(8.5em) rotate(-6.5deg);
    -ms-transform:rotate(4.5deg) translate(8.5em) rotate(-6.5deg);
    -o-transform: rotate(4.5deg) translate(8.5em) rotate(-6.5deg);
    transform:rotate(4.5deg) translate(8.5em) rotate(-6.5deg); }

  .deg112-5 {
  -webkit-transform:rotate(95.5deg) translate(7.5em) rotate(-95.5deg);
  -moz-transform:rotate(95.5deg) translate(7.5em) rotate(-95.5deg);
  -ms-transform: rotate(95.5deg) translate(7.5em) rotate(-95.5deg);
  -o-transform: rotate(95.5deg) translate(7.5em) rotate(-95.5deg);
  transform:rotate(95.5deg) translate(7.5em) rotate(-95.5deg); }

  .deg157-5 {
  -webkit-transform:  rotate(173.5deg) translate(10.5em) rotate(-173.5deg);
  -moz-transform: rotate(173.5deg) translate(10.5em) rotate(-173.5deg);
  -ms-transform:  rotate(173.5deg) translate(10.5em) rotate(-173.5deg);
  -o-transform:  rotate(173.5deg) translate(10.5em) rotate(-173.5deg);
  transform:  rotate(173.5deg) translate(10.5em) rotate(-173.5deg); }

  .deg202-5 {
  -webkit-transform:rotate(221.5deg) translate(14.5em) rotate(-221.5deg);
  -moz-transform: rotate(221.5deg) translate(14.5em) rotate(-221.5deg);
  -ms-transform: rotate(221.5deg) translate(14.5em) rotate(-221.5deg);
  -o-transform: rotate(221.5deg) translate(14.5em) rotate(-221.5deg);
  transform: rotate(221.5deg) translate(14.5em) rotate(-221.5deg) }

  .deg247-5 {
  -webkit-transform: rotate(264.5deg) translate(15.5em) rotate(-264.5deg);
   -moz-transform: rotate(264.5deg) translate(15.5em) rotate(-264.5deg);
   -ms-transform: rotate(264.5deg) translate(15.5em) rotate(-264.5deg);
   -o-transform: rotate(264.5deg) translate(15.5em) rotate(-264.5deg);
   transform: rotate(264.5deg) translate(15.5em) rotate(-264.5deg);}

  .deg292-5 { -webkit-transform: rotate(292.5deg) translate(15.5em) rotate(-292.5deg); -moz-transform: rotate(292.5deg) translate(15.5em) rotate(-292.5deg); -ms-transform: rotate(292.5deg) translate(15.5em) rotate(-292.5deg); -o-transform: rotate(292.5deg) translate(15.5em) rotate(-292.5deg); transform: rotate(292.5deg) translate(15.5em) rotate(-292.5deg); }

  .deg337-5 { -webkit-transform: rotate(337.5deg) translate(15.5em) rotate(-337.5deg); -moz-transform: rotate(337.5deg) translate(15.5em) rotate(-337.5deg); -ms-transform: rotate(337.5deg) translate(15.5em) rotate(-337.5deg); -o-transform: rotate(337.5deg) translate(15.5em) rotate(-337.5deg); transform: rotate(337.5deg) translate(15.5em) rotate(-337.5deg); }



  .tc { text-align:center; color:#fff; font-family:'Lato';  }
  h1.tc  { text-transform:uppercase; font-size:40px; }
  p.tc { font-weight:700; font-size:18px; }
  p.tc span { color:#f6c2c9; }
  .spanclr { color:#f6c2c9; }
  .ch-item .fa { font-size:80px; line-height:180px; color:#036cb6; }

}

#s6
{
    .clsbody {background-color:#036cb6; font:Verdana, Geneva, sans-serif}
  .headdiv { padding-left:40px;}
  .clshead  { font-size:30px; font-weight:900; color:#DB423E;}
  .clssubhead  { font-size:18px; font-weight:700; color:#DB423E;}
  .divhead { font-size:20px; font-weight:500; color:#333;}
  .clsblock {vertical-align: top; float:inherit; display:inline-block; padding:10px 20px 10px 20px;cursor:pointer}
  /*.clsblock img { background:#FFF; border-radius:30px}*/
  .clsunusedblock {float:inherit; display:inline-block; padding:10px 20px 10px 20px;}
  .clsdetail { text-align:left; padding-left:15%; padding-right:15%;}
  .detailhead { font-size:30px; font-weight:800; color: white;}
  .detaildesc { font-size:18px;font-weight:bold;color:#333;}
  p.tc { font-weight:700; font-size:18px; color:#fff; text-align:justify; width:90%; }
  span.clstext { font-size:15px;font-weight:bold;color:#333}
  span.clsnumber { font-size:15px;font-weight:bold;color:#DB423E}
  .clsblock:hover img { opacity: .6; background:#DB423E }

  .maincotainer .subcontainer .clsblock {
    img { width: 80px; }
  }

  .detailimage .clsimg {
    height: 200px;
  }
}

#s3, #s4, #s5, #s6 {
  background-image: url(../img/005-bg.png);
  background-attachment: fixed;
  background-size: cover;
}


#final-links{
  list-style: none;
  padding-left: 0;
  margin-left: -10px;

  li {
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 35px 0px 18px 9px;
    width: 311px;
    font-size: 18px;
    a { color: white;
    font-weight: 700; }

  }
}

