body {
  h1, h2, h3, h4 { text-transform: uppercase; }
  font-family: 'Open Sans';
  h1.really-big {
    font-size: 9em;
    font-weight: 800;
  }
  h2 { font-size: 4em; font-weight: 800; }
  h3 { font-size: 2.5em; }
  h4 {
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: 600;
  }

  h2.fig-subtitle
  {
    margin-top: .65em;
  }

  p {
    font-size: 1.9em;
    padding: .7em;
    line-height: 1.75;

    color: white;
  }

  .blue { color: #036CB6; }
  .blue-bg {
    background-color: #036CB6;
    padding: 10px;
  }

  .red-bg { background-color: #e40d0d; }
  .red { color: #e40d0d; }

  .white { color: white; }

}

#slide-1-title{
  background-color: lightgray;
  background-image: url(../mob/1-bg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom right;
}

.row
{

  // display: table;

  // [class*="col-"] {
  //     float: none;
  //     display: table-cell;
  //     vertical-align: top;
  // }

  background-size:  100% auto ;

  &.bg1-content
  {
    background-image: url(../mob/2-bg.png);
  }
  &.bg2-content-inverted { background-image: url(../mob/3-bg-invert.png); }
  &#crises-more-expensive { background-image: url(../mob/5-bg.png); }
  &.partnerships-bg { background-image: url(../mob/6-bg.png); }

  &.bg2-content
  {
    background-image: url(../mob/3-bg.png);
    background-size:  auto 100% ;

    .row.affected-natl
    {
      img
      {
        width: 90%;
      }
    }
  }



  &.red-title
  {
    background-color: #e40d0d;
    border: solid black;
    border-width: 0 0 10px;
    color: white;

    h1,h2,h3,h4,h5 {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      font-weight: 600;

      .highlight {
        color: black;
      }
    }
  }

  .people-area img { width: 4%; }
}



